# build output
dist/
.vercel
.netlify
.output

# dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# environment variables
.env
.env.*
!.env.example

# astro
.astro/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
